/* Pre style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: lighter;
  color: #555;
}

.clr {
  clear: both;
}

body {
  background-color: #1a3252;
}

/* Form style */

#block label {
  font-size: 20px;
}

label {
  padding: 10px 0 10px 0;
}

#block input {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  display: block;
  width: 100%;
  margin: 10px 0 20px 0;
  padding-left: 10px;
}

#container {
  width: 27%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 20px;
}

#container h1 {
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

#container p {
  text-align: center;
  font-size: 14px;
}

form {
  padding: 25px;
}

textarea {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin: 10px 0 20px 0;
  font-size: 15px;
}

#optional {
  font-size: 14px;
}

.must-fill {
  color: rgb(247, 2, 2);
}

#opinion p {
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}

#opinion input,
#opinion label,
#news input,
#news label,
button {
  cursor: pointer;
  padding-right: 30px;
}

#news {
  margin: 25px 0;
}

button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

button:hover {
  background-color: rgb(28, 138, 43);
  color: white;
}